@media screen and (max-width: 864px) { 
    .head-section{
       margin-top: 2rem;
       margin-bottom: 1.5rem;
       margin-left: 2rem;
       width: 1034px;
       height:638px;
    }
    .newses-blogs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .news-blog{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
    }
    .header-title{
        margin-left: 2rem ;
        margin-top: -2.6rem;
    }
    .header-title h1{
        font-size: 3em;
        line-height: .9em;
        margin-bottom: 1rem;
    }
    .header-title p{
        font-size: 1em;
        line-height: 24px;
        margin-bottom: 1rem;
    }
    .img{
        max-width: 70%;
        margin-left: 2rem;
        margin-top: 6rem;
    }
    main{
        width: 800px;
        margin-left: 4rem;
    }
    .news-section{
        margin-left: 1.5rem;
        padding: 20px 20px;
        border-radius: 20px;
        margin-top: 1rem;
        display: inline;
    }  
    .news-section ul{
   display: grid;
   grid-template-columns: repeat(1,1fr);
   justify-content: center;
   align-items: center;
    }
   .news-section ul li{
        list-style: none;
        font-size: 30px;
        font-weight: 700;
        margin-top: 5rem;
        background-color: white;
        border-radius: 20px;
        margin-left: 1rem;
        margin-right: 1rem;
        border: 1px solid black;

    }
    .news-section ul li a{
        text-decoration: none;
        color: black;
      
    }
    
     .news-blogses{
        display: flex;
        justify-content: end;
        align-items: center;
        /* margin-left: 15rem; */
     }
    .blog-item{
        width: 450px;
        height: 400px;
        margin-top: 3rem;
        margin-right: 4rem;   
    }
    .blog-info h3{
        font-size: 22px;
        line-height: 27px;
        font-weight: 600;
        margin-bottom: .7rem;
        margin-left: 1rem;
    }
    .blog-img img{
        width: 450px;
        height: 250px;
        
    }

    .news-section{
         /* width: 100%; */
         height: auto;
         background-color: white;
   }
    .news-section{
        display: inline;
        text-align: center;
    }
    .hedden-item{
        display: none;
    }
   .viwe-all{
    visibility: visible;
   }
   .flag-blog{
    grid-template-columns: repeat(2,1fr);
    margin-left: -2rem;
   }
  /* .news-blo{margin-left: 23rem;} */
}
footer{
    margin-top: 2.5rem;
    width: 1565px;
    height:444px;
}


@media screen and (max-width:576px){
    .head-section{
        width: 450px;
        height:550px;
        margin-left: 4rem;
    }
    .header-info{
        grid-template-columns: repeat(1,1fr);
    }
    .header-title{
        margin-left: 1rem;
    }
    .header-title h1{
        margin-top: 8.4rem;
        font-size: 2rem;
        text-align: center;
        line-height: 26px;
    }
    .header-title p{    
      margin-top: 2rem ;

      margin-bottom: 2rem;
     }
     .header-img img{
         visibility: hidden; 
 
     }
     .btn-primary{
        padding: 7px 15px;
        margin-left: 7.8rem;
     }
     .btn-info a{
        font-size: .9rem;
 
     }

     /* blog-news-section-css */

     main{
        width: 400px;
    }
     .newses-blogs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .news-blog{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-right: 1rem;
    }
    .news-section{
       margin-left: 1rem;
       margin-top: .01rem;
   }

   .news-section ul li{
    display: block;
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
    background-color: white;
    padding: 7px 15px;
    border-radius: 20px;
}
.news-lins a{
    padding: 0 ;
   }
   .blog-item{
    margin-top: 1rem;
}
.news-blogses{
    margin-left: -.8rem;
}
.viwe-all{
    margin-top: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility:visible;
    margin-left: 3rem;
 }

 footer{
    margin-top: 2.5rem;
    width: 565px;
    height:444px;
}
.footer-title h2{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}
.viwe-all h3{
    text-align: center;
    display: inline;
    background-color: #c0392b;
    padding: 10px 20px;
    border-radius: 5px;
}
}