/* defult-css-style */
*{
    margin: 0;
    padding: 0;
}
.body{
    font-family: 'Finlandica', sans-serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'Old Standard TT', serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Work Sans', sans-serif;
    
}

/* banner-css-style */

.head-section{
    background-image: url(./world-cup-img/original.jpg);
   background-repeat: no-repeat;
   border-radius: 30px;
   margin-top: 3rem;
   margin-bottom: 3rem;
   margin-left: 4.3rem;
   width: 87rem;
   height: 40rem;
}
.header-info{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   justify-content: center;
   align-items: center;

}
.header-title{
    margin-left: 4rem ;
}
.header-title h1{
    color: white;
    font-size: 4em;
    line-height: .9em;
    margin-bottom: 1.3rem;
}
.header-title p{
    color: white;
    font-size: 1.1em;
    line-height: 26px;
    margin-bottom: 1.2rem;
}
.header-img img{
    max-width: 100%;
    margin-left: 4rem;
    margin-top: 7.2rem;
}
.img-banner{
    display: none;
}
.btn-primary{
    display: inline;
    background-color: #c0392b;
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
}
.btn-info a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    margin-right: .5rem;
}

/* blog-news-section-css */
main{
    width: 1200px;
}
.news-section{
    margin-left: 6rem;
    background-color: #0b073b;
    width: 312px;
    height: 318px;
    border-radius: 20px;
    margin-top: 3rem;
}
.news-section ul{
    margin-top: 4rem;

}
.news-section ul li{
    list-style: none;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-top: 2rem;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.news-section ul li a{
    text-decoration: none;
    color: black;
  
}

.news-lins a{
 padding: 20px 30px;
}

.newses-blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.news-blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-right: 2rem;
}
.blog-item{
    margin-left: 1rem;
    margin-top: 3rem;
    border: 1px solid #8a8a8a;
    border-radius: 10px;
    box-shadow:2px 2px 2px 2px #888888;;
}
.blog-info p{
    margin-top: .7rem;
    border: 1px solid #161616;
    display: inline-block;
    border-radius: 5px;
    margin-left: .7rem;
}
.blog-info h3{
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    margin-bottom: .7rem;
    margin-left: .7rem;
}
.blog-info span{
    color: #767676;
    margin-right: 2rem;
    margin-left: .7rem;
}

/* view-more */

.viwe-all{
   margin-top: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   visibility: hidden;
   margin-left: 12rem;
}
.viwe-all h3{
    text-align: center;
    display: inline;
    background-color: #c0392b;
    padding: 20px 30px;
    border-radius: 5px;
}
.viwe-all h3 a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}


/* footer-css */

footer{
    background-color: #161616;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1530px;
    height: 444px;
}
.footer-title h2{
       color: white;
       font-size: 40px;
       font-weight: 600;
       text-align: center;
       margin-bottom: 4rem;
}
.footer-nav{}
.footer-nav ul{

}
.footer-nav ul li{
     list-style: none;
     display: inline-block;
     margin-left: 3rem;
     margin-top: 4rem;
}
.footer-nav ul li a{
     text-decoration: none;
     color: #B9B9B9;
     font-size: 20px;
}
.socil-nav{
    visibility: hidden;
}
.socil-nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 3rem;
    margin-top: 4rem;
}
.socil-nav ul li a {
    text-decoration: none;
    color: #ea2626;
    font-size: 20px;
    background-color: #B9B9B9;
    padding: 10px 10px;
    border-radius: 50%;
}