/* defult-css-style */
*{
    margin: 0;
    padding: 0;
}
.body{
    font-family: 'Finlandica', sans-serif;
    font-family: 'Lobster Two', cursive;
    font-family: 'Old Standard TT', serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Work Sans', sans-serif;
}

/* banner-css-style */

.head-section{
    background-image: url(./world-cup-img/original.jpg);
   background-repeat: no-repeat;
   margin-top: 3rem;
   margin-bottom: 3rem;
   margin-right: 5rem;
   margin-left: 5rem;
   border-radius: 30px;
   width: 83rem;
   height: 40rem;
}
.header-info{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   justify-content: center;
   align-items: center;

}
.header-title{
    margin-left: 4rem ;
}
.header-title h1{
    color: white;
    font-size: 4em;
    line-height: .9em;
    margin-bottom: 1.3rem;
}
.header-title p{
    color: white;
    font-size: 1.1em;
    line-height: 26px;
    margin-bottom: 1.2rem;
}
.header-img img{
    max-width: 100%;
    margin-left: 4rem;
    margin-top: 7.2rem;
}
.btn-primary{
    display: inline;
    background-color: #c0392b;
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
}
.btn-info a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    margin-right: .5rem;
}